.profile__popup-button {
  margin-top: 6px;
  margin-left: 24px;
  cursor: pointer;
}

.profile__popup-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .profile__popup-button {
    width: 18px;
    height: 18px;
    margin-left: 13px;
    margin-top: 8px;
  }
}